h1 {
  text-align: center;
  padding-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.product-list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}
